<div class="mat-elevation-z1">

  <div class="loading-container" *ngIf="isLoadingResults">
    <div class="loading-shade">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
  </div>

  <mat-table [dataSource]="students$">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{ student.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="patronus">
      <mat-header-cell *matHeaderCellDef>Patronus</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{ student.patronus }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{ student.dateOfBirth | age }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let student">
        <img src="{{ student.image }}" width="50%">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns$"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns$;"></mat-row>
  </mat-table>
</div>

<button mat-fab color="primary" class="button" aria-label="Add student" (click)="openDialog()">
  <mat-icon>plus_one</mat-icon>
</button>
