<mat-form-field>
  <mat-select [(value)]="house" name="House" (onChange)="getHouse">
    <mat-option *ngFor="let house of houses" [value]="house">
      {{house}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="mat-elevation-z1">

  <div class="loading-container" *ngIf="isLoadingResults">
    <div class="loading-shade">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
  </div>

  <mat-table [dataSource]="housesCharacters$">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let character"> {{ character.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="patronus">
      <mat-header-cell *matHeaderCellDef>Patronus</mat-header-cell>
      <mat-cell *matCellDef="let character"> {{ character.patronus }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
      <mat-cell *matCellDef="let character"> {{ character.dateOfBirth | age }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let character">
        <img src="{{ character.image }}" width="50%">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns$"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns$;"></mat-row>
  </mat-table>
</div>