<!-- Toolbar -->
<div class="toolbar" role="banner">

  <a routerLink="/">
    <img
      width="40"
      alt="Hogwarts Logo"
      src="assets/img/harry-potter.svg"
    />
  </a>
  <span>Welcome to {{ title }}</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <img
      id="rocket"
      width="80"
      alt="Hogwarts Logo"
      src="assets/img/hogwarts.svg"
    />

    <span>{{ title }}</span>
  </div>

  <!-- Links -->
  <div class="card-container link-row">
    <a mat-stroked-button routerLink="/house">Houses</a>
    <a mat-stroked-button routerLink="/students">Students</a>
    <a mat-stroked-button routerLink="/staff">Staff</a>
  </div>

  <div class="card-container">
    <router-outlet></router-outlet>
  </div>

  <img
    id="clouds"
    width="2611.084" height="485.677"
    alt="Hogwarts Logo"
    src="assets/img/hogwarts.svg"
  />

</div>
